* {
  color: #333;
  font-family: 'Open Sans', sans-serif;
}
h1 { font-size: 24px; }
form { margin-bottom: 20px }
i { font-style: normal }

.tache {
  color: #616161;
  padding: 20px;
  border-left: 5px solid #eee;
}
.tache:hover {
  cursor: pointer;
  opacity: .64;
}
.tache p:last-child { margin-bottom: 0 }
.tache+.tache { margin-top: -5px }
.tache-faite {
  background-color: #e8ecf5;
  border-left-color: #004cff;
  text-decoration: line-through;
  font-style: italic;
}
.tache-info {
  background-color: #feeae1;
  border-left-color: #ff5100;
}
#head{
  background-color: #f56827;
}